<div class="card">
  <!-- <div class="card-header" style="background-color: #44739d;">
    <div class="container-fluid" style="display: flex; justify-content: space-between;">
      <div>
        <p style="text-align: center; color: #ffffff;">This is a Beta Version Application, please send us your feedback
          !!</p>
        <p style="text-align: center; color: #ffffff;">For any query call us</p>
      </div>
      <div>

      </div>
      <div>
        <div style="display: inline-flex; height: min-content; justify-content: space-between; align-items: center;">
          <p>Logged in as --</p>
          <p>Admin</p>
        </div>

        <a href="#" class="btn btn-danger btn-sm">Logout</a>

      </div>
    </div>
  </div> -->
  <div class="card-body col-md-6 offset-md-3">


    <p style="text-align: center; font-weight: bold; font-size: 20pt;">Satcom Inventory Management System</p>

    <div class="col-md-4 offset-md-4">
      <div class="form-group" style="width: 100%;">
        <p style="text-align: left;">Select Branch Name:</p>
        <select class="form-control" id="sel1">
          <option>Dhanmondi iCenter</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="form-group">
        <p style="text-align: left;">Select Financial Year:</p>
        <select class="form-control" id="sel1">
          <option>Financial year 2020 - 2021</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="form-group" style="display: flex; justify-content: flex-end;">
        <button type="submit" class="btn btn-success">SIGN UP</button>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted" style="background-color: #44739d;">
    <br>
  </div>
</div>
