<!-- <button (click)="getOneUsersec()">Get</button>
<button (click)="deleteOneUserAccess()">Delete</button> -->


<div class="topnav" style="margin-left: 12.5rem;">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>


<div class="sidenav col-md-2" style="text-align: center;">
  <img src="../../assets/images/logos/satcomLogo1.PNG" alt="SatcomLogo" class="img-thumbnail">
  <p style="color: #fff;">Dhanmondi iCenter</p>
  <p style="color: #fff;">Financial year 2020-2021</p>

</div>

<div style="margin-left: 12.5rem;">

  <div style="text-align: center;">
    <p>Select User : </p>
    <select [(ngModel)]="currentSelectedUser" class="form-control"
      style="height: 3rem; width: max-content; margin-left: 33.5rem;">

      <option *ngFor="let login of logins">
        {{login.username}}
       </option>

    </select>
  </div>

</div>

<!-- <form>
  <div class="form-group row">
    <label class="col-4">Checkboxes</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input name="checkbox" id="checkbox_0" type="checkbox" checked="checked" class="form-check-input" value="rabbit">
        <label for="checkbox_0" class="form-check-label">Rabbit</label>
      </div>
      <div class="form-check form-check-inline">
        <input name="checkbox" id="checkbox_1" type="checkbox" class="form-check-input" value="duck">
        <label for="checkbox_1" class="form-check-label">Duck</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form> -->
