<div class="sidebar" style="text-align: center">
  <img style="margin-top: 2rem;" src="../../assets/images/logos/satcomLogo1.PNG" alt="SatcomLogo" class="img-thumbnail">
  <p style="color: #fff;">Dhanmondi iCenter</p>
  <p style="color: #fff;">Financial year 2020-2021</p>
</div>

<div class="topnav" style="margin-left: 12.5rem;">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<form (ngSubmit)="onSubmit()" style="margin-left: 12.5rem;">
  <div class="card m-3">
    <h5 class="card-header" style="padding-top: 2rem; padding-bottom: 2rem;"></h5>
    <div class="card-body border-bottom">
      <div class="form-row mx-auto d-block">
        <div class="form-group">
          <label>Select User</label>
          <select [(ngModel)]="currentSelectedUser" [ngModelOptions]="{standalone: true}" class="form-control"
            (change)="setOneUserAccess()">
            <option value=""></option>
            <option *ngFor="let login of logins" [selected]="currentSelectedUser === login.username"
              value={{login.username}}>
              {{login.username}}
            </option>
          </select>

        </div>
        <div class="form-group">
          <button class="btn btn-block" style="background-color: #d2e6dc;" disabled>Set User Permission</button>
          <hr>
        </div>
        <div class="form-group row" *ngFor="let firstColumn of menuMapFirstColumn; index as i">
          <label class="col-4">{{firstColumn}}</label>
          <div class="col-8">
            <div class="form-check form-check-inline"
              *ngFor="let secondColumn of this.getSecondColumn(firstColumn); index as j;">

              <div *ngIf="isInMap(firstColumn,secondColumn); then thenBlock else elseBlock"></div>

              <ng-template #thenBlock>

                <input name="checkbox{{i}}" id="checkbox{{i+'_'+j}}" type="checkbox" checked="checked"
                  class="form-check-input" value={{secondColumn}} (click)="updateUserAccess(firstColumn,secondColumn)">
                <label for="checkbox_0" class="form-check-label">{{secondColumn}}</label>


              </ng-template>

              <ng-template #elseBlock>

                <input name="checkbox{{i}}" id="checkbox{{i+'_'+j}}" type="checkbox" class="form-check-input"
                  value={{secondColumn}} (click)="updateUserAccess(firstColumn,secondColumn)">
                <label for="checkbox_0" class="form-check-label">{{secondColumn}}</label>

              </ng-template>

            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center border-top-0" style="padding-top: 2rem; padding-bottom: 2rem;">

    </div>
  </div>
</form>
