<div class="card-header container-fluid" style="background-color: #44739d;">
  <div class="row" style=" padding: 1.5rem; ">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <p style="text-align: center; color: #ffffff;">
            This is a Beta Version Application, please send us your feedback!!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p style="text-align: center; color: #ffffff;">
            For any query, call us
          </p>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-md-2" style=" text-align: center; color: #ffff;
        margin-left: 28rem; margin-top: 3rem; ">
          Logged in as -
        </div>
        <div class="col-md-2" style="color: #ffff; margin-top: 3rem; text-align: center;">
          admin
        </div>
        <div class="col-md-1" style=" color: #ffff; margin-top: 0.75rem;
        margin-left: -1.5rem;">
          <button class="btn btn-danger btn-sm">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
