<div class="card-header" style="background-color: #44739d;">
  <div class="container-fluid" style="display: flex; justify-content: space-between;">
    <div>
      <p style="text-align: center; color: #ffffff;">This is a Beta Version Application, please send us your feedback
        !!</p>
      <p style="text-align: center; color: #ffffff;">For any query call us</p>
    </div>
    <div>

    </div>
    <div>
      <div style="display: inline-flex; height: min-content; justify-content: space-between; align-items: center;">
        <p>Logged in as --</p>
        <p>Admin</p>
      </div>

      <a href="#" class="btn btn-danger btn-sm">Logout</a>

    </div>
  </div>
</div>
